pre .k, pre .kc { color: #AA0D92; font-weight: bold } /* Keyword, Name.Class */
pre .nc, pre .nx  { color: #000000 } /* Name.Class, Name.Other */

/*
     FILE ARCHIVED ON 10:54:33 Feb 26, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:39:52 Feb 22, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 113.311
  exclusion.robots: 0.143
  exclusion.robots.policy: 0.132
  RedisCDXSource: 2.987
  esindex: 0.01
  LoadShardBlock: 86.578 (3)
  PetaboxLoader3.datanode: 112.208 (4)
  CDXLines.iter: 14.525 (3)
  load_resource: 98.884
  PetaboxLoader3.resolve: 67.274
*/